<header class="header bg-no-image">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mr-3">
                <img src="{{ '/assets/theme/images/logo_large_white.png' | relative_url }}">
            </div>
            <div class="col-md-8 mx-auto text-start">
                <h1 class="home">{{ page.title }}</h1>
                <p class="mantra">
                    <em>{{ page.mantra }}</em>
                </p>
                <p class="lead">{{ page.description }}</p>
            </div>
        </div>
    </div>
</header>
